<p>Hello, thanks for ordering from Jungle!</p>
<p>Here is your recepit: </p>
<p>Total: <%= @total %></p>
<% @purchase.each do |item| %>
  <p>Product: <%= item[:product].name %></p>
  <p>Description: <%= item[:product].description %></p>
  <p>Unit Price: <%= item[:product].price %></p>
  <p>Quantity: <%= item[:quantity].to_i %></p>
  <p>Cost: <%= item[:product].price * item[:quantity].to_i %></p>
  <br><% end %>